[Unit]
Description=Jaeger Socat
Requires=network.target
After=syslog.target network.target

[Service]
Type=simple
ExecStart=socat TCP-LISTEN:80,fork TCP:127.0.0.1:{{jaeger_endpoint.api_port}}
Restart=on-failure

[Install]
WantedBy=multi-user.target