[Unit]
Description=Treebeard Shardnode
Requires=network.target
After=syslog.target network.target

[Service]
Type=simple
StandardOutput=file:/root/treebeard/shardnode/{{ 'shardnode-' + item.id | string + '-' + item.replicaid | string + '.stdout.log' }}
StandardError=file:/root/treebeard/shardnode/{{ 'shardnode-' + item.id | string + '-' + item.replicaid | string + '.stderr.log' }}
ExecStart=/root/treebeard/shardnode/shardnode \
    -shardnodeid {{ item.id }} \
    -bindip {{ item.local_bind_ip }} \
    -advip {{ item.exposed_ip }} \
    -rpcport {{ item.port }} \
    -replicaid {{ item.replicaid }} \
    -raftport {{ item.raftport }} \
    {% if item.replicaid!=0 %}
    # this assumes there are 3 replicas (Dangerous assmumption)
    {{'-joinaddr=' + shardnode_endpoints.endpoints[item.id * 3].exposed_ip + ':' + shardnode_endpoints.endpoints[item.id * 3].port | string }} \
    {% endif %}
    -conf /root/treebeard/ \
    -logpath {{ '/root/treebeard/shardnode/'  + item.id | string + '/' + item.replicaid | string + '/all.log' }}
Restart=on-failure

[Install]
WantedBy=multi-user.target